<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}"/>
    <title>Welcome to My Marketplace</title>
</head>
<body>
<div class="login-container">
    <h1>Welcome to My Marketplace</h1>
    <form class="login-form" method="post" th:action="@{/login}">
        <h2>Login</h2>
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" name="email" required type="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" name="password" required type="password">
        </div>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>

