
html {
    background-color: #66CDAA;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.login-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


.login-form h2 {
    color: #333;
}


.form-group {
    margin: 10px 0;
}


label {
    font-weight: bold;
    color: #00000;
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    background-color: #DB7093;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}


button:hover {
    background-color: #ad1e23;
}

.button-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #9370DB;
    border-radius: 5px;
    background-color: #DB7093;
    border-color: #DB7093;
    padding: 5px 16px;

}

.button-link:hover {
   background-color: #ad1e23;
}

