<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Categories</title>
    <link href="/static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="fragments/logout-fragment :: #logout-button"></div>
<h1>All Categories</h1>
<table>
    <thead>
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.categoryId}"></td>
        <td th:text="${category.categoryName}"></td>
        <td th:text="${category.description}"></td>
    </tr>
    </tbody>
</table>
<p><a th:href="@{/categories/add}">Add New Category</a></p>

</body>
</html>
