<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Edit Buyer</title>
</head>
<body>
<h1>Edit Buyer</h1>

<form method="post" th:action="@{/buyers/edit}" th:object="${buyer}">
    <input th:field="*{buyerId}" type="number"/>
    <div>
        <label for="email">Email:</label>
        <input id="email" name="email" th:field="*{email}" type="text"/>
    </div>
    <div>
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" th:field="*{firstName}" type="text"/>
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" th:field="*{lastName}" type="text"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" name="password" th:field="*{password}" type="text"/>
    </div>
    <div>
        <input type="submit" value="Update Buyer"/>
    </div>
</form>

<p><a th:href="@{/buyers/list}">Back to List</a></p>
</body>
</html>
